include AUTHORS COPYING MANIFEST.in NEWS README CONTRIBUTORS TODO
include setup.py Makefile setup.cfg guppy.desktop
recursive-include guppy *.py *.glade *.xml pixmaps
recursive-include pixmaps *.png *.svg
recursive-include po *.po
recursive-include puppy *.c *.h Makefile LICENCE *.spec
