include AUTHORS COPYING MANIFEST.in NEWS README CONTRIBUTORS
include setup.py Makefile setup.cfg-suse setup.cfg-fedora guppy.desktop
recursive-include doc *.dia *.png *.txt
recursive-include guppy *.py *.glade *.xml
recursive-include pixmaps *.png *.svg
recursive-include po *.po
recursive-include testing *.py *.txt puppy
recursive-include hal *.fdi *.png hal-toppy-set-procperm debian*
prune hal/.arch-ids
recursive-include pkg *
prune pkg/.arch-ids
